body{
  background-image: url(https://www.pngarts.com/files/6/Confetti-Transparent-Background-PNG.png);
}

#container{
display: flex;
flex-direction: column;
align-items: center;
}

#card-elemnt{
  width: 50rem;
  margin-top: 5%;
}
